.form {
  width: 700px;
  background:
      radial-gradient(#b6bccc 3px, transparent 3px),
      radial-gradient(#b6bccc 3px, transparent 3px),
      linear-gradient(89deg, #FF5EDF -10%, #04C8DE 100%)
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 75px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 75px),
      #fff;
  background-size: 75px 75px, 75px 75px,100% 6px, 75px 75px, 75px 75px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.9);
}

.DetectURL {
  color: #6c6e75;
  background-color: #b6bccc;
}

.DetectButton {
  color: #6c6e75;
  background-color: #b6bccc;
}



.Information {
  color: #b6bccc;
}